.login {
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
  }
  
  .login__container {
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 9px 10px 5px 0px rgba(163,155,163,1);
-moz-box-shadow: 9px 10px 5px 0px rgba(163,155,163,1);
box-shadow: 9px 10px 5px 0px rgba(163,155,163,1);
  }
  
  .login__container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
  }
  
  .login__container > button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
  }