.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover{
    background-color: #ebebeb;
}
a{
    text-decoration: none !important;
    color : black;
}
.addnewchat{
    padding: 0;
    margin: 0%;
}
.info h2{
    font-size: 16px;
    margin: 0;
    margin-top: -1px;
}
.info{
    margin-left: 15px;
}
.info p{
    margin: 0;
}