.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}
.right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}
/* .right .MuiSvgIcon-root{
  /* margin-right: 2vw; */
  /* font-size: 24px !important; */
/* } */ 
.search{
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 40px;
  padding: 10px;
}
.searchContainer{
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}
.searchContainer .MuiSvgIcon-root{
  color: gray;
  padding: 10px;
}
.searchContainer input{
  border: none;
  outline-width: 0ch;
  margin-left: 10px;
}
.chats{
  flex: 1;
  background-color: white;
  overflow: scroll;
}